<section class="flex flex-row-reverse">
    <.live_component module={PhoenixComponentsWeb.BlackScreen} id="black-screen-bg" />
    <.live_component module={PhoenixComponentsWeb.OffCanvas} id="off-canvas-menu" />
    <.live_component module={PhoenixComponentsWeb.Modal} id="modal-menu" />
    <.live_component module={PhoenixComponentsWeb.PaginationList} id="pagination-list" paginator={PhoenixComponentsWeb.FakeData.Paginator} limit={20} />
</section>
